// Colors:
$color-primary: #118df0e5;
$color-primary-dark:#0c71c2e5;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

// Grid:
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;